In [2]:
import pandas as pd
from pandas import DataFrame
import numpy as np

In [4]:
data = [[24946, 25119, 25247, 25371, 25509],
        [12126, 12282, 12423, 12612, 12809],
        [9990, 9975, 9941, 9852, 9776],
        [3456, 3452, 3452, 3447, 3429],
        [3278, 3307, 3330, 3346, 3355],
        [2830, 2862, 2883, 2907, 2923],
        [2661, 2671, 2678, 2686, 2681],
        [2476, 2475, 2469, 2465, 2465],
        [2062, 2088, 2103, 2123, 2148],
        [1821, 1829, 1835, 1833, 1830],
        [1784, 1792, 1797, 1800, 1796],
        [1565, 1578, 1589, 1596, 1605],
        [1545, 1553, 1542, 1535, 1531],
        [1506, 1510, 1517, 1520, 1521], 
        [1504, 1510, 1517, 1520, 1521],
        [1137, 1151, 1164, 1169, 1166],
        [570, 583, 599, 619, 634],
        [118, 132, 187, 233, 276]
    ]

In [5]:
data

[[24946, 25119, 25247, 25371, 25509],
 [12126, 12282, 12423, 12612, 12809],
 [9990, 9975, 9941, 9852, 9776],
 [3456, 3452, 3452, 3447, 3429],
 [3278, 3307, 3330, 3346, 3355],
 [2830, 2862, 2883, 2907, 2923],
 [2661, 2671, 2678, 2686, 2681],
 [2476, 2475, 2469, 2465, 2465],
 [2062, 2088, 2103, 2123, 2148],
 [1821, 1829, 1835, 1833, 1830],
 [1784, 1792, 1797, 1800, 1796],
 [1565, 1578, 1589, 1596, 1605],
 [1545, 1553, 1542, 1535, 1531],
 [1506, 1510, 1517, 1520, 1521],
 [1504, 1510, 1517, 1520, 1521],
 [1137, 1151, 1164, 1169, 1166],
 [570, 583, 599, 619, 634],
 [118, 132, 187, 233, 276]]

In [6]:
df = DataFrame(data, columns=['2013', '2014', '2015', '2016', '2017'], index=['수도권', '경기', '서울', '부산', '경남', '인천', '경북', '대구', '충남', '전북', '전남', '충북', '대전', '강원', '광주', '울산', '제주', '세종'])

In [7]:
df

      2013   2014   2015   2016   2017
수도권  24946  25119  25247  25371  25509
경기   12126  12282  12423  12612  12809
서울    9990   9975   9941   9852   9776
부산    3456   3452   3452   3447   3429
경남    3278   3307   3330   3346   3355
인천    2830   2862   2883   2907   2923
경북    2661   2671   2678   2686   2681
대구    2476   2475   2469   2465   2465
충남    2062   2088   2103   2123   2148
전북    1821   1829   1835   1833   1830
전남    1784   1792   1797   1800   1796
충북    1565   1578   1589   1596   1605
대전    1545   1553   1542   1535   1531
강원    1506   1510   1517   1520   1521
광주    1504   1510   1517   1520   1521
울산    1137   1151   1164   1169   1166
제주     570    583    599    619    634
세종     118    132    187    233    276

In [8]:
df[df['2017'] <= 3000].index

Index(['인천', '경북', '대구', '충남', '전북', '전남', '충북', '대전', '강원', '광주', '울산', '제주',
       '세종'],
      dtype='object')

In [26]:
def substitution(x):
    if x <= 1000:
        return "위험"
    elif x <=5000:
        return "주의"
    else:
        return "안정"

In [29]:
custom_df = df.applymap(substitution)

In [30]:
custom_df

    2013 2014 2015 2016 2017
수도권   안정   안정   안정   안정   안정
경기    안정   안정   안정   안정   안정
서울    안정   안정   안정   안정   안정
부산    주의   주의   주의   주의   주의
경남    주의   주의   주의   주의   주의
인천    주의   주의   주의   주의   주의
경북    주의   주의   주의   주의   주의
대구    주의   주의   주의   주의   주의
충남    주의   주의   주의   주의   주의
전북    주의   주의   주의   주의   주의
전남    주의   주의   주의   주의   주의
충북    주의   주의   주의   주의   주의
대전    주의   주의   주의   주의   주의
강원    주의   주의   주의   주의   주의
광주    주의   주의   주의   주의   주의
울산    주의   주의   주의   주의   주의
제주    위험   위험   위험   위험   위험
세종    위험   위험   위험   위험   위험